In [ ]:
#Part A:Basics of Tuples
# 1a. Creating a tuple of 7 elements
#With integers, strings and floats
tuple=(2, 'Amazing', 3.0, 2, 'Awesome', 4.5, 4,)
print(tuple)

(2, 'Amazing', 3.0, 2, 'Awesome', 4.5, 4)

In [ ]:
# 1b. Find length of the tuple
len(tuple)

7

In [ ]:
# 2a. Showing indexing and slicing on the tuple
#Index 1st element
print(tuple[0])

2

In [ ]:
# 2b. Index last element
print(tuple[-1])

4

In [ ]:
# 2c. Slice 1st element
print(tuple[0:1])

(2,)

In [ ]:
# 2d. Slice last element
print(tuple[6:7])

(4,)

In [ ]:
# 2e. Find the middle of the tuple
middle=len(tuple)//2
print(middle)

3

In [ ]:
# 2f. Slice the middle elements
sliced=tuple[3]
print(sliced)

2

In [ ]:
# 2g. Reverse order using slicing
reverse=tuple[::-1]
print(reverse)

(4, 4.5, 'Awesome', 2, 3.0, 'Amazing', 2)

In [15]:
# 3. Try to change one element of the tuple
tuple[2]='Beautiful'
print(tuple)

TypeError: 'tuple' object does not support item assignment

# Tuples are immutable
In the cell above the *'Beautiful'* element was trying to replace *3.0* element which was in index two in the element. **One cannot change, add or remove items from a tuple once the tuple has been created**. Items in a tuple have a defined order, the order cannot change.

In [18]:
#Part B: Tuple Operations
#Create 2 tuples
tuple1=('Sunshine', 'Butterflies', 'Rainbows',)
tuple2=(5, 4, 5,)

In [ ]:
# 4. Concatenate the 2 tuples
concatenate=tuple1 + tuple2
print(concatenate)

('Sunshine', 'Butterflies', 'Rainbows', 5, 4, 5)

In [ ]:
# 5. Repeat a tuple 3 times 
repeat= tuple1 * 3
print(repeat)

('Sunshine', 'Butterflies', 'Rainbows', 'Sunshine', 'Butterflies', 'Rainbows', 'Sunshine', 'Butterflies', 'Rainbows')

In [ ]:
# 6. Checking if a certain element exists in tuple2 
#Using in operator
print('Raspberries' in tuple2)

False

In [ ]:
# 7. Part C: Tuple functions and methods
# 7a. Create a tuple
tuple3=(5, 3, 9, 1, 5, 3, 5, 7,)
print(tuple3)

(5, 3, 9, 1, 5, 3, 5, 7)

In [ ]:
# 7b. Find count() of 5
#Find how many times 5 element appears in tuple3
count5=tuple3.count(5)
print(count5)

3

In [ ]:
# 7c. Find index of 9
#Element 9 is in which index
element9=tuple3.index(9)
print(element9)

2

In [ ]:
# 8. Use built-in functions
# 8a. Length of tuple
length=len(tuple3)
print(length)

8

In [ ]:
# 8b. Maximum value of an element in the tuple
maximum_value=max(tuple3)
print(maximum_value)

9

In [ ]:
# 8c. Minimum value of an element in the tuple
minimum_value=min(tuple3)
print(run)

1

In [ ]:
# 8d. Addition of elements
add=sum(tuple3)
print(add)

38

In [ ]:
#Part D: Nested and Advanced Tuples
# 9. Create nested tuple
nested_tuple=('Magdalene', 'Mary', 'Joseph',(39, 76, 54))
print(nested_tuple)

('Magdalene', 'Mary', 'Joseph', (39, 76, 54))

In [ ]:
# 9b. Access inner tuple
inner_tuple=nested_tuple[3]
print(inner_tuple)

(39, 76, 54)

In [ ]:
# 9c. Print marks only
print(nested_tuple[3])

(39, 76, 54)

In [ ]:
# 10a. Convert list into tuple
list_tuple=list(tuple3)
print(list_tuple)

[5, 3, 9, 1, 5, 3, 5, 7]

In [ ]:
# 10b. Convert tuple into list
tuple_list=tuple(tuple3)
print(tuple_list)

(5, 3, 9, 1, 5, 3, 5, 7)

In [ ]:
# 11a. Tuple of 5 student names
tuple4=('Ceaser', 'Sydney', 'Elyssa', 'Ben', 'Dan' )
print(tuple4)

('Ceaser', 'Sydney', 'Elyssa', 'Ben', 'Dan')

In [ ]:
# 11b. Select index 2 in tuple4
index2=(tuple4[2])
print(index2)

Elyssa

# Uses of Tuples
## For Fixed Collections of Data
Tuples are commonly used to store unchangeable data as they prevent one from distorting the order or content of the data. This is common in datasets such as **days of the week** since days are universal. For example, *tuple=('Monday', 'Tuesday', 'Wednesday')*. **student records** showing student names and their student ID's. This prevents one from giving false information about their identity. Example, *tuple2=('John', 'Albert', 'Moses',(45675, 36745, 56834)). **coordinates** of a country or a certain place, using Kenya as an example *tuple2=('latitude', 'longitude', (-0.023559, 37.906193))* and **examination results**.It is crutial to create a tuple to display student results to prevent one from tampering with them.For example *tuple3=('Jasmine', 'Ross', 'Racheal',(56, 75, 93))