In [1]:
# Sets
# In curly brackets
# items cannot be repeated in a Python set
# Are unordered, can't access by indexing
# Once created can be changed
# Symmetric Difference- Returns elements that are in either set1 or set2 but NOT in both. Direction does NOT matter.
# Difference (set1.difference(set2))- Returns elements that are in set1 but NOT in set2. Direction matters.

In [8]:
# Level 1
# 1. Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
a=len(it_companies)
print(f'{a} companies')

7 companies

In [3]:
# 2. Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

{'Microsoft', 'Google', 'Oracle', 'Amazon', 'Twitter', 'IBM', 'Apple', 'Facebook'}

In [4]:
# 3. Insert multiple IT companies at once to the set it_companies
#Use update function
it_companies.update({'Samsung Electronics', 'Netflix', 'Alibaba Group', 'Adobe'})
print(it_companies)

{'Microsoft', 'Netflix', 'Oracle', 'Samsung Electronics', 'Adobe', 'Apple', 'Alibaba Group', 'Google', 'Amazon', 'Twitter', 'IBM', 'Facebook'}

In [5]:
# 4. Remove one of the companies from the set it_companies
it_companies.remove('Google') 
print(it_companies)

{'Microsoft', 'Netflix', 'Oracle', 'Samsung Electronics', 'Adobe', 'Apple', 'Alibaba Group', 'Amazon', 'Twitter', 'IBM', 'Facebook'}

In [6]:
# 5. Difference between remove and discard
it_companies.remove('Salesforce') #error
print(it_companies)

KeyError: 'Salesforce'

In [ ]:
# i)
it_companies.remove('Microsoft') 
print(it_companies)

it_companies.discard('Microsoft') 
print(it_companies)

it_companies.discard('Salesforce') 
print(it_companies)

{'Amazon', 'IBM', 'Apple', 'Alibaba Group', 'Adobe', 'Netflix', 'Samsung Electronics', 'Facebook', 'Twitter', 'Oracle'}
{'Amazon', 'IBM', 'Apple', 'Alibaba Group', 'Adobe', 'Netflix', 'Samsung Electronics', 'Facebook', 'Twitter', 'Oracle'}
{'Amazon', 'IBM', 'Apple', 'Alibaba Group', 'Adobe', 'Netflix', 'Samsung Electronics', 'Facebook', 'Twitter', 'Oracle'}

Remove function raises an error if item is not found in the set. Discard ignores the error if item is not found in the set

In [7]:
# Level 2
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

In [ ]:
# 1. Join A and B
# use union / update method
C = A.union(B)  
print(C) # automatically removes duplicates

{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# 2. Find A intersection B
C= A.intersection(B) 
print(C)

{19, 20, 22, 24, 25, 26}

In [ ]:
# 3. Is A subset of B
# all elements of A are contained in B.
A.issubset(B)

True

In [ ]:
# i) Superset
# set A is a superset of set B if A contains all elements of B.

In [ ]:
# 4. Are A and B disjoint sets
# If two sets do not have a common item or items we call them disjoint sets
A.isdisjoint(B)# have no in common

False

In [ ]:
# 5. Join A with B and B with A - 2 different questions, same result
# use union/ | operator
C= A|B
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
C= B|A
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# 6. Symmetric difference between A and B
# It means that it returns a set that contains all items from both sets
# except items that are present in both sets, mathematically: (A\B) âˆª (B\A)
A.symmetric_difference(B)

{27, 28}

In [ ]:
# 7. Delete the sets completely
del A # success
del B
del it_companies

In [ ]:
# i) Test if sets have been deleted
print(A)

NameError: name 'A' is not defined

: