In [17]:
# Loops
# Types of loops: while loop, for loop
#  Exercises: Level 1
### 1) Iterate **0 to 10** using a `for` loop and a `while` loop

# Using for loop
for i in range(11):
    print(i)

# Using while loop
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

In [18]:
# 2) Iterate **10 to 0** using a `for` loop and a `while` loop
# Using for loop
for i in range(10, -1, -1):
    print(i)

# Using while loop
i = 10
while i >= 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0
10
9
8
7
6
5
4
3
2
1
0

In [19]:
# 3) Print a # triangle (7 rows)
for i in range(1, 8):
    print('#' * i)

#
##
###
####
#####
######
#######

In [20]:
#4) Use nested loops to print an 8Ã—8 block of # characters

for _ in range(8):           # 8 rows
    row = []
    for _ in range(8):       # 8 columns
        row.append('#')
    print(' '.join(row))

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [21]:
#5) Print: i x i = i*i for i from 0 to 10
for i in range(11):
    print(f"{i} x {i} = {i*i}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [22]:
#6) Iterate a list using a for loop

tech_list = ['Python', 'Numpy','Pandas','Django', 'Flask']
for item in tech_list:
    print(item)

Python
Numpy
Pandas
Django
Flask

In [23]:
#7) Print only even numbers from 0 to 100

for i in range(101):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [24]:
#8) Print only odd numbers from 0 to 100

for i in range(101):
    if i % 2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [25]:
# Exercises: Level 2
#9) Sum of all numbers from 0 to 100

total = 0
for i in range(101):
    total += i
print(f"The sum of all numbers is {total}.")

The sum of all numbers is 5050.

In [26]:
# 10) Sum of all evens and odds from 0 to 100

sum_evens = 0
sum_odds = 0
for i in range(101):
    if i % 2 == 0:
        sum_evens += i
    else:
        sum_odds += i
print(f"The sum of all evens is {sum_evens}. And the sum of all odds is {sum_odds}.")

The sum of all evens is 2550. And the sum of all odds is 2500.

In [27]:
# Exercises: Level 3
#A) Go to the data folder and use the countries.py file. Loop through the countrie
# Filter countries containing the word "land"
#Import the file as a module
import sys
from pathlib import Path

# Add the folder containing countries.py to Python path
sys.path.insert(0, r"C:\Users\T2Gic\Downloads")


# Import the variable from the file
from countries import countries

land_countries = [c for c in countries if 'land' in c.lower()]
print(land_countries)

['Finland', 'Iceland', 'Ireland', 'Marshall Islands', 'Netherlands', 'New Zealand', 'Poland', 'Solomon Islands', 'Swaziland', 'Switzerland', 'Thailand']

In [28]:
#B) Reverse the fruit list using a loop
fruits= ['banana', 'orange', 'mango', 'lemon']
reversed_list = []
i = len(fruits) - 1
while i >= 0:
    reversed_list.append(fruits[i])
    i -= 1
print(reversed_list)

['lemon', 'mango', 'orange', 'banana']

In [29]:

import ast

path = r"C:\Users\T2Gic\Downloads\countries_data.py"  # keep .py if you want
with open(path, "r", encoding="utf-8") as f:
    text = f.read().strip()

countries_data = ast.literal_eval(text)  # safely parse Python literals into objects
print(type(countries_data), len(countries_data))

<class 'list'> 250

In [30]:
#C) Work with countries_data.py
from collections import Counter

#i) total number of languages in the data
all_langs = []
for c in countries_data:
    all_langs.extend(c.get('languages', []))

unique_langs = set(all_langs)
print("Total number of languages:", len(unique_langs))

Total number of languages: 112

In [31]:
#ii) Find the ten most spoken languages from the data
lang_counts = Counter(all_langs)
top_10_langs = lang_counts.most_common(10)
print("Ten most spoken languages (language, count):")
for lang, count in top_10_langs:
    print(f"{lang}: {count}")

Ten most spoken languages (language, count):
English: 91
French: 45
Arabic: 25
Spanish: 24
Portuguese: 9
Russian: 9
Dutch: 8
German: 7
Chinese: 5
Serbian: 4

In [32]:
#iii) Find the 10 most populated countries in the world
sorted_by_pop = sorted(
    countries_data,
    key=lambda c: c.get('population', 0),
    reverse=True
)
top_10_pop = sorted_by_pop[:10]
print("Top 10 most populated countries (name, population)")
for c in top_10_pop:
    print(f"{c['name']}: {c['population']}")

Top 10 most populated countries (name, population)
China: 1377422166
India: 1295210000
United States of America: 323947000
Indonesia: 258705000
Brazil: 206135893
Pakistan: 194125062
Nigeria: 186988000
Bangladesh: 161006790
Russian Federation: 146599183
Japan: 126960000