In [ ]:
#1st lesson of Intro to Programming
print("hello world")

hello world

In [ ]:
#After writing 'if' in the next line leave a space(indent)
if 5>2:
    print("Five is greater than two!")

Five is greater than two!

In [1]:
print(5<2)

False

In [ ]:
if 5>2:
print("Five is greater than two!") #error because you didnt leave a spacebefore the word print because of if at the top

IndentationError: expected an indented block after 'if' statement on line 1 (760999835.py, line 2)

In [6]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [7]:
#Variables
x=5
y="John"
print(x)
print(y)

5
John

In [ ]:
#Numeric types-Integer(int),string(str) and float
X=4
Y='shahid'
Z=5.987

print(type(x)) #print type together shows you the name of the class
print(type(y))
print(type(Z))

<class 'int'>
<class 'str'>
<class 'float'>

In [3]:
#Avoid writing all the codes in one cell
#Type Conversion
x=3
y=2.8
z=1j

#Convert from int to float
a=float(x)

#Convert from float to int
b=int(y)

#Convert from int to complex
c=complex(x)

print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

3.0
2
(3+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [5]:
#Convert from complex to float
#One cannot do it directly, use either the real part only(5) or the imaginary part(4j)
convert=z.real
print(convert)

0.0

In [ ]:
#Determining if all the variables below are of class float
x=1.10
y=1.7
z=-35.36


print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#Using triple quotes
#1.Allows you to write your string when you want it to span many lines
c='''Natasha is spectacular,
simply divine, her unique personality
is admired by all'''
print(c)

Natasha is spectacular,
simply divine, her unique personality
is admired by all

In [7]:
#2.When you want a special way of formatting
bombshell='''
HOT
NEW 
BOMBSHELL
HAS ENTERED
THE VILLA
'''
print(bombshell)

HOT
NEW
BOMBSHELL
HAS ENTERED
THE VILLA

In [ ]:
#Nicknames I have been called
HOTSTUFF=('Tash, Tasha, Tashy, Nat, Ash, Dude, Sha')
print(HOTSTUFF)

Tash, Tasha, Tashy, Nat, Ash, Dude, Sha

In [ ]:
#Slicing strings
b='Hello, World!'
s=b[2:5]#Starts counting from index 2 to index 5
print(s)

llo

In [ ]:
#Slicing strings to get 
# the first 5 characters
yooh='''
Spicy
Burger
'''
daa=yooh[:5]
print(daa)#4 characters are visible, 5th character is a new line

Spic

In [12]:
#Slicing strings 
#To get the first 5 characters
d='OrangesareBigger'
e=d[:5]
print(d)#total of 16 characters
len(d)

OrangesareBigger

16

In [ ]:
#Last 5 characters
a='When in need,reach out'#The string can have spaces, it doesn't affect the answer
kay=(a[5:])#Starts counting from index 5 all the way to the last index
print(kay)

in need,reach out

In [ ]:
#Testing slicing of a string
r90='Watermelon Sugar High'

#Slice from index 6 towards the end
pro=r90[6:]
print(pro)

elon Sugar High

In [ ]:
#Get charaters from index 2 - index 7
a='When in need, reach out'
b=a[2:7]
print(b)#starts at index 2 all the way to index 7

en in

In [21]:
#Replacing letters in a string
a='My, World'
b=a.replace('W','l')#replaces letter 'W' with letter 'l'
print(b)

My, lorld