In [41]:
# 2. Assigning an element to first name variable
#A cell can only give you 2 outputs maximum
first_name=('Natasha')
print(first_name)

Natasha

In [42]:
#Finding the length of my 1st name
len(first_name)

7

In [43]:
# 3. Assigning values to my 1st name and 2nd name
first_name, last_name=('Natasha', 'Gicheha')
print(first_name, last_name)

Natasha Gicheha

In [44]:
#Comparing the length of my 1st name and last name
print(f'Last name is longer:{len(first_name) < len(last_name)}')

Last name is longer:False

In [45]:
#Type of variables first name and last name
type(first_name)
type(last_name)

str

In [ ]:
# 4. Declaring num one and num two
num_one=(5)
num_two=(4)

In [5]:
#Type of num one and num two variable
type(num_one)
type(num_two)

int

In [47]:
# 5. Adding num one and num two
total=(num_one + num_two)
print(total)

9

In [48]:
#Type of total variable
type(total)

int

In [49]:
# 6. Subtracting num two from num one
diff=(num_two - num_one)
print(diff)

-1

In [50]:
#Type of diff variable
type(diff)

int

In [51]:
# 7. Multiplying num two and num one
product=(num_two * num_one)
print(product)

20

In [52]:
#Type of product variable
type(product)

int

In [53]:
# 8. Dividing num one by num two
division=(num_one / num_two)
print(division)

1.25

In [54]:
#Type of division variable
type(division)

float

In [ ]:
# 9. Carrying out modulus
remainder=(num_two % num_one)
print(remainder) #Answer is always an integer
#Sice 4 is less than 5 answer is will remain as 4

4

In [55]:
#Type of remainder variable
type(remainder)

int

In [56]:
# 10. Finding num one power num two(**)exponent
exp=(num_one ** num_two)
print(exp)

625

In [57]:
#Type of exp variable
type(exp)

int

In [ ]:
# 11. Calculating floor division
floor_division=(num_one ^ num_two)
print(floor_division)

1

In [58]:
#Type of floor division variable
type(floor_division)

int

In [23]:
#Area of a circle
#math.pi=pie

import math

#radius=30m
area_of_circle=math.pi * 30**2
print(f'{area_of_circle:.2f}m\u00B2')

#Type of variable
type(area_of_circle)

2827.43m²

float

In [24]:
#Circumference of a circle
circum_of_circle=math.pi * (30*2)

#Round off the answer to 2 decimal places
print(f'{circum_of_circle:.2f}m')

#Type of variable used
type(circum_of_circle)

188.50m

float

In [26]:
# Using radius as user input
radius=input('radius')
print(radius)
type(radius)

30m

str

In [18]:
#Calculate area using user input
area_of_circle=math.pi * 30**2
print(f'{area_of_circle:.2f}m\u00B2')

2827.43m²

In [ ]:
# 13. Getting personal information of a user
first_name, last_name, country, age =input('first_name, last_name, country, age').split()
print(first_name, last_name, country, age)

Ryan Gituanja U.S.A 20

In [34]:
# 14. Checking for python reserved keywords
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not