# Day 1

In [91]:
#30 day Python challenge
#Day 1
#Introduction
#Consistency
#Solving equations

In [92]:
#Addition
print(2+3)

5

In [93]:
#Multiplication
print(2*3)

6

In [94]:
#Subtraction
print(3-2)

1

In [95]:
#Division
print(3/2)

1.5

In [96]:
#Exponential (3 power 2)
print(3**2)

9

In [97]:
#Floor division operation 
#After dividing the 2 numbers, answer is rounded down to the nearest whole number 
#final answer is usually low than division answer
print(3//2)

1

In [ ]:
#Data type
print(type(3 // 2), 3 // 2)

<class 'int'> 1

In [ ]:
#Note the difference with the cell above
#The first prints two separate values, while the second prints them as one tuple(order matters).
print((type(3 // 2),3 // 2))

(<class 'int'>, 1)

In [99]:
#Modulus (Remainder after division)
print(3%2)

1

In [ ]:
# Data Structures in Python (6):
#1 Dictionary
#2 Set
#3 Tuple
#4 List
#5 Range
#6 Frozenset

In [ ]:
# Data Types in Python (12):
#(1-6) all the data structures
#int
#float
#complex
#str
#bool
#NoneType

In [ ]:
#1 Dictionary 
#Has a key and value pair, separated by a colon
#Curly brackets
print(type({'Hobby':'Watching TV Series'}))

<class 'dict'>

In [102]:
#dict - name of type of object
#class dict - full name of type of object

In [ ]:
#2 Set
# 1 do not have a specific order
# 2.no duplicate values,
# 3.any value:{x,y,z} — variables , {1,2,3} — numbers ,{(1,2),(3,4)} — ordered pairs ,{{1},{2}} — many sets combined in one
# 4.has curly brackets
print(type({4.5, 5.6, 8.7, 9.2}))

<class 'set'>

In [ ]:
#Empty set- only method
a=set()
print(a)

In [ ]:
#3 Tuple
#Comma creates the tuple not the parentheses/brackets
#Tuples don't need a parentheses, check b)
#Add a comma at the end of a tuple with one item only 
#Allow duplicates

# a) Example with one item integers 
print(type((6,)))

<class 'tuple'>

In [ ]:
# b) Example with no parentheses one item
a='Bombshell',
print(type(a))

<class 'tuple'>

In [ ]:
# c)Example with many items no parentheses
a='Kiambu', 'Mombasa', 'Kisumu'
print(type(a))
#Not a string because strings contain one object only, example above contains three

<class 'tuple'>

In [8]:
#Empty tuple
a=()
print(a)

()

In [ ]:
#4 Lists
#Ordered
#Can be changed after list is created
#Can contain different data types
#Allows duplicates

In [ ]:
# Bool operation- use if, elif, else statement
# Boolean expression output is either true or false 
#Double equal sign shows comparison
if 3==4:
    print('True')
else:
    print('False')
print(type(3==4))

False
<class 'bool'>

In [108]:
#Bool
#Greater than or equal to, write the greater sign 1st for it to function
print(type(3>=3))

<class 'bool'>

# Day 2

In [9]:
#Built in functions
#Print
#prints the text value
print('Kanyare is moody')
print(2,4,6)

Kanyare is moody
2 4 6

In [110]:
#Len 
#counts the number of characters
#including spaces, punctuation marks
len('Damn! The oranges are ripe')

26

In [111]:
#Type
#Checks the type of the data
type(4j + 3)

complex

In [112]:
#Casting
#Converting integer to float
r7=4 #Integer
lp=float(r7)
print(lp)
print(type(lp))

4.0
<class 'float'>

In [113]:
#Convert number to string
ji=25
krr=str(ji)
print(repr(krr)) 
print(type(krr))

'25'
<class 'str'>

In [114]:
#Input is your question output is your answer
fact=input('Favourite hobby:')
print(fact)

Swimming

In [115]:
#Testing examples
# len only takes one argument
#Currently there are 4
#print(len('Tash','','bae','!'))# wrong statement

In [116]:
#Correct version
print(len('Tash bae!'))

9

In [117]:
#Getting information about something
#Its neater if a cell has one input only
#It still runs if you have more than one though
pass_time=input('What do you like doing in your free time?')
future=input('What skill do you want to perfect on most?')
print(pass_time)
print(future)

Solving mathematical problems
Programming

# Notebook 3: day 3.ipynb

In [118]:
#Boolean
#Shows whether something is True or False
#T and F should be capital

In [119]:
# == equal
# != not equal

In [120]:
#Testing an equal sign
#if 4 /= 3: #This is not a away of testing inequality
# print('true')

In [121]:
# is - returns true if both variables are the same
# in - returns true if the variable exists in the list

In [122]:
#Exercise
#Previously imported math
#1.
age=int(19)#My age as an integer
print(f'{age} years old')

19 years old

In [123]:
# 2. My height as a float
hei=float(5.6)#how tall i'm I
print(f'{hei} feet')

5.6 feet

In [124]:
# 3. Variable that stores a complex no
nic=complex(5+2j) #Variable is nic
print(nic) #Complex number is 5+2j

(5+2j)

In [125]:
# 4. Enter base and height of a triangle
#Use input function, print it, run the code,then enter your value then click enter 
# 4a. Base of the triangle
base=int(input('Enter base:'))
print(f'{base}cm')

12cm

In [126]:
# 4b. Height of the triangle
hei=int(input('Enter height:'))
print(f'{hei}cm')

9cm

In [127]:
# 4c. Get Area of the triangle
#Area = 0.5*b*h
Area=0.5*base*hei
print(f'{Area}cm\u00B2')

54.0cm²

In [128]:
# 5. Side a, side b and side c of a triangle
#Side a 
a=int(input('Enter side a:'))
print(a)

#Side b
b=int(input('Enter side b:'))
print(b)

#Side c
c=int(input('Enter side c:'))
print(c)

4
7
18

In [129]:
# 5a. Perimeter of the triangle above (a+b+c)
per=a+b+c
print(per)

29

In [130]:
# 6a Get length and width of a rectangle using prompt
#Enter Length of the rectangle
le=int(input('Length?:'))
print(f'{le}cm')

#Enter Width of the rectangle
wi=int(input('Width?:'))
print(f'{wi}cm')

10cm
13cm

In [131]:
# 6b  Area of rectangle above
ar= le*wi
print(f'{ar}cm\u00B2')#used unicode to write cm squared

130cm²

In [132]:
# 7 User input's radius of a circle
ra=int(input('Radius of a cricle?:'))
print(ra)

4

In [133]:
# 7b Area of the circle
area=3.14*ra**2 #2 pi Rsquared
print(area)

50.24

In [134]:
#c Circumference of the circle
circ=2*3.14*ra
print(circ)

25.12

In [135]:
#8 Slope of an equation from an equation
# Equation is y= 2x-2
m=2  #Slope is the coefficient of x
print(f'slope is {m}')

slope is 2

In [136]:
# 8b. x intercept
# in x intercept y=0
m=2
b=-2 #this is the y intercept
x_inter=-b/m
print(x_inter)

1.0

In [137]:
# 8c. y intercept
print (float(b))

-2.0

In [138]:
# 9. Points of a line
#Wrote the 2 points in one list each as tuples
p1=(2,2)
p2=(6,10)

print(p1)
print(p2)

(2, 2)
(6, 10)

In [139]:
# 9b. Find the slope of the points above
#Using slope formula: y2-y1/x2-x1
# x1=2, y1=2, x2=6, y2=10
slope=10-2/6-2
print(f'{round(slope, 2)}')#Answer has been rounded off to 2 decimal places

7.67

In [140]:
# 9c. Euclidean distance between the points above
import math
euc_dis=math.sqrt((p2[0]-p1[0])**2 + (p2[1]-p1[1])**2)
print(f'{round(euc_dis, 2)}cm')

8.94cm

In [141]:
# 10. Compare the 2 slopes above
#Using if and else statements
#Slope 1 is in m variable
#Slope 2 is in slope variable
if m>slope:
    print('Slope in task 8 is bigger')#Slope is 2
else:
    print('Slope in task 9 is bigger')#Slope is 7.67

Slope in task 9 is bigger

In [142]:
# 11. Equation is y= x^2 + 6x + 9
#Get y
def equation(x):
    return x**2 + 6*x + 9

#Try a range of x values to get an x value that will make y=0
for x in range(-10,11):
    y=equation(x)
    
#Show current values of x and y
    print(f'x={x}, y={y}')
    if y ==0:
      print(f'y is zero when x is{x}')#Shows all the values in the range and emphasizes when y=0

x=-10, y=49
x=-9, y=36
x=-8, y=25
x=-7, y=16
x=-6, y=9
x=-5, y=4
x=-4, y=1
x=-3, y=0
y is zero when x is-3
x=-2, y=1
x=-1, y=4
x=0, y=9
x=1, y=16
x=2, y=25
x=3, y=36
x=4, y=49
x=5, y=64
x=6, y=81
x=7, y=100
x=8, y=121
x=9, y=144
x=10, y=169

In [143]:
# 12. Find length of 2 strings 
str1=('python')
a=len('python')
print(a)

str2=('dragon')
b=len('dragon')
print(b)

6
6

In [144]:
# 12b. use a falsy comparison statement
if a>b:
    print('True')
else:
    print('False')

False

In [145]:
# 13. Use and operator
#To check if the word on is found in both strings
if 'on' in str1 and str2:
    print('true')

true

In [146]:
# 14. Check if a word is in a sentence
#Using in operator
sen=('I hope this course is not full of jargon')
if 'jargon' in sen:
    print('jargon is in the sentence above')

jargon is in the sentence above

In [147]:
# 15. Check if there is no 'on' in both strings
if 'on' in str1 and str2:
    print('no is in')
else:
    print('no is invalid')

no is in

In [148]:
# 16.Find length of the text to float then to string 
n=len('python')
print(n)

w=float(n)
print(w)

g=str(w)
print(g) #g was not showing in quotes hence i confirmed its type below
print(type(g))

6
6.0
6.0
<class 'str'>

In [149]:
# 17. Checking if a number is even
#Even numbers are divisible by 2 and remainder is zero
#Assume the number is 66
x=66
if x%2==0:#when you divide x by 2 answer is zero
    print('66 is an even number')

66 is an even number

In [150]:
# 18. Check if floor division of 7 by 3 is equal to int of 2.7
#Floor division of 7 by 3
c=7/3
print(f'7/3 = {c}')

#int of 2.7
d=int(2.7)
print(f'int of 2.7 = {d}')

#Check if both answers are equal
if c == d:
    print('Both values are equal')
else:
    print('Answers are not equal')

7/3 = 2.3333333333333335
int of 2.7 = 2
Answers are not equal

In [151]:
# 19. Find the types of each value
na= type('10')
la = type(10)

#Print the types
print(na)
print(la)

#Compare the 2 types
if na==la:
    print('types are the same')
else:
    print('types are not the same')

<class 'str'>
<class 'int'>
types are not the same

In [152]:
# Check if int 9.8 == 10
if int(9.8) == 10:
    print('True')
else:
    print('False')

#Confirming the answer
a=int(9.8)
print(a)#It rounds down

False
9

In [153]:
# 21. A person's pay using user input
#Hours worked
nw=int(input('Enter hours:'))
print(f'{nw}hrs')

#Rate per hour
hu=int(input('Rate per hour:'))
print(f'{hu}sh/hr')

#Weekly earnings
pay=nw*hu
print(f'sh{pay}')

7hrs
5sh/hr
sh35

In [154]:
# 22. Number of years a person can live
pers=int(input('Years:'))
print(f'{pers}years')

#Number of seconds a person can live
sec=int(input('Seconds:'))
print(f'{sec}sec')

98years
3048192000.0sec

In [155]:
# 23. Print a table of powers of numbers
#Use a loop
for n in range(1,6):
    print(n, n**1, n**2, n**3, n**4) #horizontally power 0 to power 4

1 1 1 1 1
2 2 4 8 16
3 3 9 27 81
4 4 16 64 256
5 5 25 125 625

# Notebook 4: Day 4.ipynb

In [156]:
# STRINGS
#Multiple line string'''(triple single) or """(triple double)

#Concatenation=merging 2 or more string variables.
#This is done by using the plus operator

#Escape sequences in Strings
# \n new line
# \t tab space
# \\ Back slash
# \' Single quote
# \"" Double quote

In [157]:
#Example of a multiline string
#Must have print
print('''Introduction to Programming enables one to code in Python app more specifically Jupyter Notebook.
Chinese language enables one to engage with more people who speak Chinese
Probability and Statistics 1 is amazing''')#Output puts the line break for you

Introduction to Programming enables one to code in Python app more specifically Jupyter Notebook.
Chinese language enables one to engage with more people who speak Chinese
Probability and Statistics 1 is amazing

In [158]:
#Testing escape sequences
#New line \n
print('Accept your results in your previous exams as yours.\n Love what you have now and do not give up on being better.')#There is a slight indent on your left

Accept your results in your previous exams as yours.
 Love what you have now and do not give up on being better.

In [159]:
#Tab space \t
#Easier when sentence has numbers
print('Get better at:Programming\tLinear Algebra\tChinese')#for equal spacings words before the /t have to be of equal length

Get better at:Programming	Linear Algebra	Chinese

In [160]:
#Back slash \\
print('I am so hungry\\hunger \nI do not like being degraded\\degradation')#if 2 parts in a sentence have different meanings
#separates the verb with the noun

I am so hungry\hunger
I do not like being degraded\degradation

In [161]:
#Single quote
#usually one part of the pair only
#helpful when writing short forms
print('You don\'t have responsibilities, there is no reason for you to fail')

You don't have responsibilities, there is no reason for you to fail

In [162]:
print('Days\tCourses\tPractice')
print('1\t5\t14')
print('2\t5\t04')
print('3\t5\t05')
#equal spacing between the numbers
#titles don't have equal spacing

Days	Courses	Practice
1	5	14
2	5	04
3	5	05

In [163]:
#Old style formatting
# %s - string only
# %d - string and integer
# %.2f - floating point numbers

In [164]:
#Example of string only
#Given each string a variable
course='Introduction to Programming'
name='Natasha Wanjiru'
language='Chinese'

#Formatted string is not in brackets
a='My name is %s.\nI can speak %s fluently.\nI\'m currently studying %s.' %(name, language, course)
print(a)

My name is Natasha Wanjiru.
I can speak Chinese fluently.
I'm currently studying Introduction to Programming.

In [165]:
#String and integer
age=35
hobbies=5
quote='stunning as always'

b='You look %s\t even at the age of %d\t you still have %d suitors' %(quote,age,hobbies)
print(b)

You look stunning as always	 even at the age of 35	 you still have 5 suitors

In [166]:
#Floating point numbers- numbers with a decimal places
#Using old style format
#converts value to 2 decimal places
value=2.3456788
format='%.2f'%value 
print('format value',format)

format value 2.35

In [167]:
#New style formatting
#The word format has to be there
a=45
b=67
print('{} + {} = {}'.format (a,b, a+b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

45 + 67 = 112
45 - 67 = -22
45 * 67 = 3015
45 / 67 = 0.67
45 % 67 = 45
45 // 67 = 0
45 ** 67 = 582422873843435732243403659008236909175319421543815500182225909081156108026977591407558065839111804962158203125

In [168]:
# f strings/ string interpolation
print(f'{a}+{b}={a+b}')

45+67=112

In [169]:
#Unpacking characters
#a,d,b must be possible variables
last_name='Mic'#each character is written vertically
MY,NAME,IS=last_name
print(MY)
print(NAME)
print(IS)

M
i
c

In [170]:
#Skipping characters while Slicing
name='Gicheha'
sliced=name[0:8:2]#Started counting from index 0, stopped at index 8 hence ignored index 8 and stopped at index 7,skipping by 2 characters
print(sliced)

Gcea

In [171]:
#capitalize() method, converts the 1st letter of the string to a capital letter
#has to be after the string though
PO='awesomeness'.capitalize()
print(PO)
    
#count()
wa='amazing'.count('a')#has to be in the exact case
print(wa)

#endswith()

Awesomeness
2

In [172]:
#Test expandtabs()
#Only works with tab characters
#\t
f='Just\thold\ton'
print(f.expandtabs())

Just    hold    on

In [173]:
#find() shows index of 1st occurence of what you are looking for
#rfind() last occurence, spacing also occupies an index position
#start counting index from 0
quote='learning is a process,learning takes time but it\'s worth it'
a=quote.find('learning')#1st occurence starts at index 0
print(a)

b=quote.rfind('learning')#last occurence starts at index 24
print(b)

0
22

In [174]:
#isalnum()method
#Checks for letters and numbers
#if the sentence has spacing then its considered false

In [175]:
#Test theory above
print(quote.isalnum())#quote has spacings, output is false

w='Mymother\'spurse'#no to escape sequences
print(w.isalnum())

r='Iwillmakeitbigbefore2040'#true
print(r.isalnum())

False
False
True

In [176]:
#Testing if a string can start with a number
r='20Iwillmakeitbigbefore2040'#false
print(r.isidentifier())

w='Mymother\'spurse'#no to escape sequences
print(w.isalnum())

r='Iwillmakeitbigbefore2040'#true
print(r.isalnum())

False
False
True

In [177]:
#Exercise
# 1. Join words to form a sentence
#Using join method
a=['Thirty' , 'Days' , 'Of' , 'Python']
result=' '.join(a)#if you want spacing space the single quotes
print(result)

Thirty Days Of Python

In [178]:
# 2. Form a sentence
#using tab method
#don't enclose the many strings in brackets
#plus sign must be there
#tabs escape must be in quotes
b='Coding' + '\t' + 'For' + '\t' + 'All'
print(b)

Coding	For	All

In [179]:
# 3-5. Declaring a variable, assigning a value and printing the length
company='Coding For All'
print(company)
len(company)

Coding For All

14

In [180]:
#4Change string to uppercase letters
upper=company.upper()
print(upper)

CODING FOR ALL

In [181]:
# 8. Format string above
a=company.capitalize()
print(a)#makes only the 1st letter capital

b=company.title()
print(b)#makes capital the 1st letter of each word

c=company.swapcase()
print(c)#changes what was uppercase to lowercase and vice versa

Coding for all
Coding For All
cODING fOR aLL

In [182]:
# 9. Slice the 1st word from the string
#using indexes
d=company[:6]
print(d)#Shows the 1st word

Coding

In [183]:
# 10. Check if a word exists in a string
if company.find('Coding') != -1:
    print('true')#the word was found in the list
else:
    print('false')

true

In [184]:
# 11. Replacing a word in a string
e=company.replace('Coding','Python')
print(e)

Python For All

In [185]:
# 12. Replacing the whole string with another string
a=company.replace('Coding For All','Chinese is worth it in the end')
print(a)

Chinese is worth it in the end

In [186]:
# 14 Splitting a string
a='Facebook,Google,Microsoft,Apple,IBM,Oracle,Amazon'
b=a.split(',')#splits the string to a list
print(b)#you cannot split a list only a string

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Notebook 5: Day 5.ipynb

In [187]:
#Level 1
# 1. Declare an empty list
a=[]
print(a)

[]

In [188]:
# 2. List with more than 5 items= 6,7,8,9...items
a=['Lawyer','Accountant','Doctor','Pilot','Professor','Manager']
print(a)

['Lawyer', 'Accountant', 'Doctor', 'Pilot', 'Professor', 'Manager']

In [189]:
# 3. Length of my list
b=len(a)
print(f'{b} careers')

6 careers

In [190]:
# 4. Get specific items from a list
#Using indexing
#First item
b=a[0]
print(b)#1st item is at index 0

Lawyer

In [191]:
# 4b Middle item
#Find middle of the list 
b=len(a)//2
print(b)

3

In [192]:
#Insert a word in the middle of the list
c='Athlete'
a.insert(b,c)
print(' , '.join(a))#Successful

Lawyer , Accountant , Doctor , Athlete , Pilot , Professor , Manager

In [193]:
# 4c. Last item - Negative indexing
b=a[-1]
print(b)

Manager

In [194]:
# 5. Printing one variable with several entries
#Use multiline string
mixed_data_types='''name: Natasha Gicheha
age: 19 years old
height: 5.7feet
marital status: single
address: 3rd Street, Toll Station'''
print(mixed_data_types)

name: Natasha Gicheha
age: 19 years old
height: 5.7feet
marital status: single
address: 3rd Street, Toll Station

In [195]:
# 13. Modify/Change the list
# Change 'Accountant' to uppercase, the whole word
#Locate its index
change=a.index('Accountant')

#Change to uppercase using upper method
a[change]=a[change].upper()
print(a)

['Lawyer', 'ACCOUNTANT', 'Doctor', 'Athlete', 'Pilot', 'Professor', 'Manager']

In [196]:
#Join a string to a list
#The string should appear after the list
#Using join method
a=['Lawyer','Accountant','Doctor','Pilot','Professor','Manager']
b='Figure out how to explain yourself properly'
print(f'{b}: {' '.join(a)}') #Commas are replaced with spaces

Figure out how to explain yourself properly: Lawyer Accountant Doctor Pilot Professor Manager

In [197]:
#Join the following lists
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
print(f'{front_end}: {' '.join(back_end)}')#added backend to the frontend list

['HTML', 'CSS', 'JS', 'React', 'Redux']: Node Express MongoDB

In [198]:
#Join the list in a variable
full_stack=front_end+back_end
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [199]:
#Insert 'Python' and 'SQL' after 'Redux
# 1 Find where Redux is, index() method
a=full_stack.index('Redux')
print(a)

4

 Day 6

# Notebook 7: Day 7.ipynb

# Notebook 8: day 8.ipynb

# Notebook 9: day 9.ipynb