In [2]:
#1. Enter name and age then print
name=str(input('What is your name?'))
print(name)

age=str(input('How old are you?:'))
print(age)

Kim Kardashian
28

In [ ]:
#Print a message using both values
#I created a dictionary
mess={'Kim Kardashian':28}
print(mess)

{'Kim Kardashian': 28}

In [36]:
#2. Loops and conditions
#Write an integer input
integer=int(input('Enter integer:'))
print(integer)

78

In [ ]:
#Loop from one to the integer
for i in range(1, integer + 1):
#Test whether the number is even or odd
#Use if and else statements
   if integer %2 ==0:
    print('even number')
   else:
    print('odd number')

even number

In [ ]:
#3. Lists and strings
#Get values of the list from user input
num=(input('List of numbers:'))#Numbers are separated by spaces
print(num)

10 20 30 40 50 60 70 80

In [ ]:
#Create the list using the values above
#Use split method
list=num.split()
print(list)#Assumed numbers were strings

['10', '20', '30', '40', '50', '60', '70', '80']

In [ ]:
#Convert every string item in the list to an integer
integers=[int(num) for num in list]#num is a temporary variable, can only use that word
print(integers)

[10, 20, 30, 40, 50, 60, 70, 80]

In [ ]:
#4. Dictionaries
#Creating a dictionary of student names and scores
names_scores={'Tashy':100, 'Caroline':98, 'Ceaser':34, 'Isaac':45}
print(names_scores)

{'Tashy': 100, 'Caroline': 98, 'Ceaser': 34, 'Isaac': 45}

In [31]:
#Checking if a specific student exists
#Using if statements
if 'Tashy' in names_scores:
    print('true')
else:
    print('false')

true

In [ ]:
#5. Sets
#List of course names with duplicates
list=['Data Science and Analytics', 'Nursing', 'Engineering', 'Medicine', 'Nursing', 'Engineering']
print(list)#Nursing and Engineering are the duplicates

['Data Science and Analytics', 'Nursing', 'Engineering', 'Medicine', 'Nursing', 'Engineering']

In [ ]:
#Convert the list into a set
new=set(list)
print(new)#Unique course names

{'Data Science and Analytics', 'Nursing', 'Engineering', 'Medicine'}

In [10]:
#6. Problem Breakdown
#Create a sentence as input
sen=str(input('Take a sentence as input:'))
print(sen)

Why does everything have to be soo hard, I have nobody to rely on

In [ ]:
#Count how many words are longer than 5 characters
brek=br(sen)
print(brek)

NameError: name 'br' is not defined

In [14]:
#7. Debugging
#Write 2 numbers using user input
first=int(input('First number:'))
print(first)

second=int(input('Second number:'))
print(second)

56
2

In [15]:
#Divide the two numbers above
div=first/second
print(div)

28.0