In [9]:
#Upload and read the data file
import pandas as pd
df=pd.read_excel(r'C:\Users\T2Gic\Downloads\amazon_reviews_dataset(1).csv.xlsx')
print(df.head())#view column heads and 1st 5 rows

   review_id product_category product_name user_id review_title  \
0          1      Electronics       Laptop   U7331     Terrible
1          2          Fashion     Sneakers   U2623     Loved it
2          3      Electronics       Laptop   U9695         Okay
3          4          Fashion        Jeans   U8028     Terrible
4          5            Books     Cookbook   U9882     Loved it

                                review_text  rating verified_purchase  \
0      Really disappointed with the Laptop.       4               Yes
1       The Sneakers is amazing, I love it!       2               Yes
2  The Laptop stopped working after a week.       1                No
3   The Jeans stopped working after a week.       3                No
4      Decent Cookbook for the price point.       5               Yes

   helpful_votes sentiment
0             20  Positive
1             19  Negative
2             27  Negative
3              5   Neutral
4             14  Positive

In [10]:
# Check for missing value 
print(df.isnull().values.any()) #No missing values found

False

In [11]:
# Check for full row duplicates
a=df.duplicated().sum()
print(f'Full row duplicates={a}')

Full row duplicates=0

In [12]:
# Check for full column duplicates
# 1. Define the function
def get_duplicate_columns(df):
    duplicates = []
    for i in range(df.shape[1]):
        col1 = df.iloc[:, i]
        for j in range(i + 1, df.shape[1]):
            col2 = df.iloc[:, j]
            if col1.equals(col2):
                duplicates.append((df.columns[i], df.columns[j]))
    return duplicates

#Check full column duplicates
a=get_duplicate_columns(df)
print(f'Full column duplicates={a}')#Empty/no full column duplicates

Full column duplicates=[]