In [ ]:
#Print a string - This is a comment, does not affect the code, does not appear in output
print("hello world")

hello world

In [ ]:
#Print a string if condition is met
#Note there is a space before print
if 5>2:
    print("Five is greater than two!")

Five is greater than two!

In [ ]:
#Bool, greater than
print(5>2)

True

In [ ]:
#In if statements, next line print has to have a space before it
if 5>2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (760999835.py, line 2)

In [ ]:
#Variables, x and y are variables
#Variables cannot start with a number, if it has a space in between put a dash
x=5
y="John"
print(x)
print(y)

5
John

In [ ]:
#Some numeric data types- int,float and complex
#Total of 12 data types
X= 4 #int
Y= 4.5 #float
Z=5.9 + 1j #complex

print(type(X))
print(type(Y))
print(type(Z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#Type Conversion
x=3
y=2.8
z=1j

#Convert from int to float
a=float(x)

#Convert from float to int
b=int(y)

#Convert from int to complex
c=complex(x)

#Print values
print(a)
print(b)
print(c)

#Print their types
print(type(a))
print(type(b))
print(type(c))

3.0
2
(3+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
#Float
x=1.10
y=1.7
z=-35.36

#Print type of value in each variable
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [3]:
#Using triple quotes - creates multiline strings
#They allow you to write a string across several lines 
c='''I am spectacular.
I don't need to be perfect to start.
Learning takes time, patience and resilience'''
print(c)

I am spectacular.
I don't need to be perfect to start.
Learning takes time, patience and resilience

In [1]:
#Nicknames
HOTSTUFF=('Tash, Tasha, Tashy, Nat, Ash, Dude, Sha')
print(HOTSTUFF)

Tash, Tasha, Tashy, Nat, Ash, Dude, Sha

In [ ]:
#Slicing strings
#Slicing always ignores the first index mentioned
#Slicing is done in square brackets
b='Hello, World!'
s=b[2:5] #ignored character in index 2, counted from index 3 to index 5
print(s)

llo

In [ ]:
#Slicing strings 
#To get the first 5 characters
#Method A do it in a variable
b='Hello, World!'
c=b[0:5] 
print(c)

#Method B do it in print
b='Hello, World!'
print(b[0:5]) #expected output Hello

Hello
Hello

In [8]:
#Method C
#Get the first 5 characters
d='OrangeBigger'
e=d[:6]# ignore index 6
print(e)

Orange

In [ ]:
#Last 5 characters - success
a='When in need, reach out'

#Step 1 get total length
print(len(a))

#Step 2- total length 23 - 5 =18
print(a[18:])# index 18 is ignored, output has 5 characters including spacing

23
h out

In [ ]:
#Get charaters from index 2 - index 7
a='When in need, reach out'
b=a[1:7] # index 1 is ignored starts counting from index 2
print(b)# output has 6 characters

hen in

In [ ]:
#Reverse string using slicing
a='My, World'
b=a[::-1]
print(b)# whole string is reversed

dlroW ,yM

In [ ]:
#Replacing letters in a string
# using replace function
a = 'Wonderful, World'
b = a.replace('W', 'M') #replace letter W with M
print(b)

Monderful, Morld